{% extends "layout.html.twig" %}

{% block content %}

    <article class="container mt-5 pt-5">
        <h3 class="mb-5">{{ article.title }} :</h3>
        {% if article.img is not null %}
            <img
                    src="{{ baseUrl }}/images/{{ article.img }}"
                    alt="blog"
                    class="img-fluid col-12 col-md-10 col-lg-8"
            />
        {% else %}
            <img src="{{ baseUrl }}/images/empty.png" alt="blog"/>
        {% endif %}
        <h4 class="mt-5 mb-3">{{ article.subtitle }} :</h4>
        <p class="mb-5">{{ article.content }}</p>
        <span class="fw-bold">Catégorie : {{ article.category_name }}</span>
        <span class="fw-bold mx-3 mx-lg-5"
        >Publié le: {{ article.published_at|date("d/m/Y") }}</span
        >
        <span class="fw-bold"> Auteur : {{ article.author }}</span>
        {% if session.id == article.user_id %}
            <div class="mt-3">
                <a
                        href="/article/update/{{ article.id }}"
                        class="btn btn-link text-decoration-none fw-bold me-3"
                >Modifier</a
                >
                <a
                        href="/article/confirm-delete/{{ article.id }}"
                        class="btn btn-link text-decoration-none fw-bold"
                >Supprimer</a
                >
            </div>
        {% endif %}
    </article>

    <div class="container mt-5 rounded mb-5 rounded">
        {% for comment in comments %}
            <div class="mb-3 bg-light rounded p-2">
                <p class="mb-0">{{ comment.content }}</p>
                <span class="fw-bold">{{ comment.published_at|date("d/m/Y") }}</span>
                <span class="fw-bold">{{ comment.commentator }}</span>
            </div>

            <form method="post">
                <input type="hidden" name="id" value="{{ comment.id }}">
                <div class="col-12 col-md-6 mb-3">
                    <select name="publish" id="publish" class="form-select">
                        <option value="0" {{ comment.published == 0 ? "selected":"" }}>En attente de validation</option>
                        <option value="1" {{ comment.published == 1 ? "selected":"" }}>Validé</option>
                    </select>
                </div>

                <div class="form-group my-3">
                    <input
                            type="submit"
                            class="btn btn-primary col-12 col-md-2"
                            value="Soumettre"
                    />
                </div>
            </form>
        {% endfor %}
    </div>


{% endblock %}

 
