<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ baseUrl }}/css/styles.css"/>
    <title>PHPBlog</title>
</head>
<body>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <div class="container">
            <a class="navbar-brand fs-4 fw-bold" href="/">PHPBlog</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/article/index"
                        >Liste des articles</a
                        >
                    </li>
                    {% if session.id == 0 %}
                        <li class="nav-item">
                            <a class="nav-link" href="/register/add-member"
                            >Créer un compte</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/signin">Connexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login/logout">Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    {% if block('header') is defined %}
        <header class="bg-blue">
            <div class="container py-5">
                <div class="row gx-md-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-6 fw-light text-white mb-3">
                                Salut, Je m'appelle Oussama, je suis développeur PHP
                            </h1>
                            <p class="lead fw-normal text-white-50 mb-4">
                                Enthousiaste à l'idée de mettre mes compétences au service
                                de votre entreprise en tant qu'individu autonome,
                                autodidacte et passionné.
                            </p>
                            <div
                                    class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
                            >
                                <a
                                        class="btn btn-primary btn-lg px-4 me-sm-3"
                                        href="{{ baseUrl }}/images/cv.pdf"
                                        download
                                >Télécharger mon CV</a
                                >
                                <div class="">
                                    <a
                                            href="https://github.com/OussBel"
                                            target="_blank"
                                            class="mx-5"
                                    >
                                        <img
                                                src="{{ baseUrl }}/images/github-mark.svg"
                                                style="width: 40px"
                                                alt="github"
                                        />
                                    </a>
                                    <a
                                            href="https://www.linkedin.com/in/oussama-belfarhi-6a04641a0/"
                                            target="_blank"
                                    >
                                        <img
                                                src="{{ baseUrl }}/images/in-icon.svg"
                                                style="width: 40px"
                                                alt="linkedin"
                                        />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                        <img
                                class="img-fluid rounded-3 my-5"
                                src="{{ baseUrl }}/images/programmer.jpg"
                                alt="programmer image"
                        />
                    </div>
                </div>
            </div>
        </header>
    {% endif %} {% block content %} {% endblock %}
</main>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
<!-- Footer-->
<footer class="bg-blue py-4 mt-auto">
    <div class="container px-5">
        <div
                class="row align-items-center justify-content-between flex-column flex-sm-row"
        >
            <div class="col-auto">
                <div class="small m-0 text-white pb-3 pb-sm-0">
                    Copyright &copy; PHP BLOG 2023
                </div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="/">Accueil</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Liste des articles</a>
                {% if session.role == 'admin' %}
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="/admin/article/index"
                    >Administrateur</a
                    >
                {% endif %}
            </div>
        </div>
    </div>
</footer>
</body>
</html>
